{% extends 'admin/base.html.twig' %}

{% block title %}Administration Patients{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des patients</h1>

        <table id="usersTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de création</th>
                    <th>Dérnière connexion</th>
                    <th>Tranche d'age</th>
                    <th>Tuteur</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th>{{ user.firstname }}</th>
                        <th>{{ user.lastname }}</th>
                        <th>{{ user.createdAt | date("d/m/Y", "Europe/Paris") }}</th>
                        <th class="text-center"> 
                            {% if user.updatedAt is null %}  
                                <p>~</p>
                            {% else %}
                                {{ user.updatedAt | date("d/m/Y", "Europe/Paris") }}
                            {% endif %}
                        </th>
                        <th>
                            {% if user.age is null %} 
                                <p>Non renseigné</p>
                            {% else %}
                                {{ user.age }}
                            {% endif %}
                        </th>
                        <th>
                            {% if user.tutor is not null %}
                                {{ user.tutor.userRelation.tutorFullname }}
                            {% else %}
                                <p>Aucun</p>
                            {% endif %}
                        </th>
                        <th>
                            <a href="{{ path('admin_users_view', {'id': user.id}) }}" class="btn btn-primary"><i class="far fa-eye"></i></a>
                            <a href="{{ path('admin_users_edit', {'id': user.id}) }}" class="btn btn-secondary"><i class="far fa-edit"></i></a>
                            <form action="{{ path('admin_users_delete', {'id': user.id}) }}" method="post" style="display: inline-block" onsubmit="return confirm('Etes-vous sur de votre choix ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script>
        $(document).ready( function () {
            $('#usersTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
                ]
            });
        } );
    </script>
{% endblock %}