{% extends 'admin/base.html.twig' %}

{% block title %}Historique du Patient{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1 class="my-5">Historique du Patient {{ user.fullname }}</h1>

        <div class="card mt-3">
            <div class="card-body">
                {% if user.participateContents is not empty %}
                    <div class="row ">
                        {% for participateContent in user.participateContents %}
                            {% set content = participateContent.content %}
                            {% set url = path('contents_play', {'slug': content.slug }) %}
                            <div class="col-md-6">
                                <div class="card bg-light mb-3">
                                    {% if participateContent.completedAt is not null %}
                                        <div id="ribbon-container">
                                            <p id="ribbon-{{ content.slug }}">Terminé le {{ participateContent.completedAt | date("d/m/Y  H:i", "Europe/Paris") }}</p>
                                        </div>
                                    {% endif %}
                                    <a href="{{ url }}">
                                        <img src="{{ vich_uploader_asset(content, 'coverImageFile') }}" alt="image jeux-1"
                                            style="height: 200px; width: 100%; display: block;">
                                    </a>

                                    <div class="card-body">
                                        <h2 class="text-truncate" style="text-align: center;">{{ content.title }}</h2>
                                        <hr>
                                        <h4 class="card-title">Avancement</h4>
                                        <p>Premiére connexion le {{ participateContent.createdAt | date("d/m/Y  H:i", "Europe/Paris") }}
                                        {% for key, value in participateContent.result %}
                                            <p>{{key}} : {{value}}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}
                    </div>   
                {% else %}
                    <div class="row justify-content-md-center align-items-center">
                        <div class="col-auto text-align">
                            <div class="alert alert-warning mt-3 mx-auto">
                                <h4 class="alert-heading">L'utilisateur n'a participer a aucun serious game</h4>
                            </div>
                        </div>
                    </div>   
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
