{% extends 'base.html.twig' %}

{% block title %}Admin - {% block adminTitle %}{% endblock %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.css"/>
{% endblock %}

{% block Sidebar %}
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
      {% if is_granted('ROLE_ADMIN') %}
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin_index') }}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-tools"></i>
          </div>
          <div class="sidebar-brand-text mx-2">Administration</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('admin_index') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tableau de bord</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Gestion des utilisateurs
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_tutors_index') }}">
            <i class="fas fa-fw fa-user-md"></i>
            <span>Médecins/tuteurs</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_users_index') }}">
            <i class="fas fa-fw fa-user-injured"></i>
            <span>Patients</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Heading -->
        <div class="sidebar-heading">
          Gestion des contenus
        </div>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_contents_index') }}">
            <i class="fas fa-fw fa-gamepad"></i>
            <span>Serious game</span></a>
        </li>
      {% else %}
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('tutor_index') }}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-tools"></i>
          </div>
          <div class="sidebar-brand-text mx-2">Administration</sup></div>
        </a>

        <!-- Heading -->
        <div class="sidebar-heading">
          Gestion des utilisateurs
        </div>

        <!-- Nav Item - Tables -->
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('tutor_index') }}">
            <i class="fas fa-fw fa-user-injured"></i>
            <span>Patients</span></a>
        </li>

      {% endif %}
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
{% endblock %}

{% block main %}

{% endblock %}

{% block javascripts %}

    <script src="/js/datatables.min.js"></script>

{% endblock %}
