{% extends 'admin/base.html.twig' %}

{% block title %}Patients du Dr {{ tutor.userRelation.lastname }} {{ tutor.userRelation.firstname }} inscrits sur la plateforme{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des patients</h1>

        <table id="usersTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de création</th>
                    <th>Dernière connexion</th>
                    <th>Tranche d'âge</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in tutor.users %}
                    <tr>
                        <th>{{ user.firstname }}</th>
                        <th>{{ user.lastname }}</th>
                        <th>{{ user.createdAt | date("d/m/Y", "Europe/Paris") }}</th>
                        <th class="text-center"> 
                            {% if user.updatedAt is null %}  
                                <p>~</p>
                            {% else %}
                                {{ user.updatedAt | date("d/m/Y", "Europe/Paris") }}
                            {% endif %}
                        </th>
                        <th>
                            {% if user.age is null %} 
                                <p>Non renseigné</p>
                            {% else %}
                                {{ user.age }}
                            {% endif %}
                        </th>
                        <th>
                            <a href="{{ path('admin_users_view', {'id': user.id}) }}" class="btn btn-primary"><i class="far fa-eye"></i></a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script>
        $(document).ready( function () {
            var table = $('#usersTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excelHtml5',
                    'pdfHtml5'
                ]
            });

            //table.page(2).draw( false );
        } );

    </script>
{% endblock %}