
{% block header %}
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <div class="container">

            {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_TUTOR')) %}
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
            {% endif %}

            <!-- Topbar logo -->
            <a class="navbar-brand" href="{{ path('home_index') }}">
                <img src="/assets/images/logo-urps.png" alt="logo-urps-ml-paca" height="60px">
            </a>   
            
            {% if is_granted('ROLE_USER') %}
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.fullname }}</span>
                        <img class="img-profile rounded-circle" src="https://www.ilcineocchio.it/cine/wp-content/themes/cineocchio-master/frontend/img/batman_profile.jpg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{{ path('user_profile') }}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Mes informations
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('admin_index') }}">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Administration
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_TUTOR') %}
                            <a class="dropdown-item" href="{{ path('tutor_index') }}">
                                <i class="fas fa-users fa-sm fa-fw mr-2 text-gray-400"></i>
                                Mes patients
                            </a>
                        {% endif %}                                                   
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('security_logout') }}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Me déconnecter
                            </a>
                        </div>
                    </li>
                </ul>
            {% else %}                        
                <ul class="navbar-nav ml-auto" style="padding-right: 30px;">
                    <li class="nav-item ">
                        <a class="nav-link text-gray-600" href="{{ path('security_login') }}">Se connecter <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-gray-600" href="{{ path('security_register') }}">S'inscrire<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            {% endif %}  
    </div>

    </nav>
{% endblock %}


{% for label, messages in app.flashes %}
    <div class="container popup">
        <div class="alert alert-dismissible alert-{{ label }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for message in messages %}
                <p class="mb-0">{{ message | raw }}</p>
            {% endfor %}
        </div>   
    </div>
{% endfor %}
