{% block file_widget %}
    <input type="file" name="{{full_name}}" class="form-control-file" id="{{id}}" aria-describedby="fileHelp">
{% endblock %}

{% block _content_images_widget %}
    <p>Ajouter des images du serious game</p>

    {{ form_widget(form) }}
    
    <input type="hidden" id="widgets_counter" val="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter une image</button>
    </div>
{% endblock %}

{% block _content_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _content_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    {% if value.id is defined and value.id is not null %}
                        <div class="col" style='text-align: center; height: 150px;'>
                            <img style="max-height:100%" class="img-fluid" src="{{ vich_uploader_asset(value, 'imageFile') }}" alt="">
                        </div>                                  
                        <div class="col">
                            {{ form_widget(form.imageFile) }}
                            {{ form_errors(form.imageFile) }}
                        </div>
                    {% else %}
                        <div class="col">
                            {{ form_widget(form.imageFile) }}
                            {{ form_errors(form.imageFile) }}
                        </div>                        
                    {% endif %}   
                </div>            
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}