{% extends 'admin/base.html.twig' %}

{% block title %}Administration serious game{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des serious game</h1>

        <div class="text-center">
            <a href="{{ path('admin_contents_create')}}" class="btn btn-success btn-lg"><i class="fas fa-plus"></i> Ajouter un serious game</a>        
        </div> 

        <table id="contentsTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Intégré le</th>
                    <th>Dernière modification</th>
                    <th>Statut</th>
                    <th>Public</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for content in contents %}
                    <tr>
                        <th>{{ content.title }}</th>
                        <th>{{ content.createdAt | date("d/m/Y", "Europe/Paris") }}</th>
                        <th class="text-center"> 
                            {% if content.lastUpdateAt is null %}  
                                <p >~</p>
                            {% else %}
                                {{ content.lastUpdateAt | date("d/m/Y", "Europe/Paris") }}
                            {% endif %}
                        </th>
                        <th class="text-center">
                            {% if content.active == true %}
                                <span class="badge badge-pill badge-success">&nbsp</span> active
                            {% else %}
                                <span class="badge badge-pill badge-danger">&nbsp</span> désactivé
                            {% endif %}
                        </th>
                        <th>
                            {% if content.public == true %}
                                <span class="badge badge-pill badge-success">&nbsp</span> active
                            {% else %}
                                <span class="badge badge-pill badge-danger">&nbsp</span> désactivé
                            {% endif %}
                        </th>
                        <th>
                            <a href="{{ path('admin_contents_stats', {'id': content.id}) }}" class="btn btn-info"><i class="fas fa-chart-pie"></i></a>
                            <a href="{{ path('admin_contents_edit', {'id': content.id}) }}" class="btn btn-secondary"><i class="far fa-edit"></i></a>
                            <form action="{{ path('admin_contents_delete', {'id': content.id}) }}" method="post" style="display: inline-block" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer ce jeu sérieux ? Plus aucun utilisateur n’y aura accès et le jeu sera définitivement effacé de la plateforme. Confirmez-vous votre choix ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ content.id) }}">
                                <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready( function () {
            $('#contentsTable').DataTable({ 
                dom: 'Bfrtip',
                buttons: 
                [
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
        });
    </script>
{% endblock %}