{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullname }}{% endblock %}


{% block main %}
    <div class="container-fluid">
        <h1>Profil de {{ user.fullname }}</h1>
        {% if user is same as(app.user) %}
            <div class="card mt-3">
                <div class="card-body">
                    <div class="row justify-content-md-center align-items-center">
                        {% if is_granted('ROLE_TUTOR') %}
                            <div class="col-auto text-align">
                                <a href="{{ path('tutor_edit') }}" class="btn btn-primary mr-2 mb-2"><i class="far fa-edit fa-lg"></i> Modifier mes informations</a>
                            </div>
                        {% else %}
                            <div class="col-auto text-align">
                                <a href="{{ path('user_edit') }}" class="btn btn-primary mr-2 mb-2"><i class="far fa-edit fa-lg"></i> Modifier mes informations</a>
                            </div>                        
                        {% endif %}

                        <div class="col-auto text-align">
                            <a href="{{ path('update_password') }}" class="btn btn-primary mr-2 mb-2"><i class="far fa-edit fa-lg"></i> Modifier mon mot de password</a>
                        </div>
                    </div>
                </div>                              
            </div>
        {% endif %}
        <hr>
        <h2>Serious game</h2>

        <div class="card mt-3">
            <div class="card-body">
                {% if user.participateContents is not empty %}
                    <div class="row ">
                        {% for participateContent in user.participateContents %}
                            {% set content = participateContent.content %}
                            {% set url = path('contents_play', {'slug': content.slug }) %}
                            <div class="col-md-4">
                                <div class="card bg-light mb-3">
                                    {% if participateContent.completedAt is not null %}
                                        <div id="ribbon-container">
                                            <p id="ribbon-{{ content.slug }}">Terminé le {{ participateContent.completedAt | date("d/m/Y  H:i", "Europe/Paris") }}</p>
                                        </div>
                                    {% endif %}                                
                                    <a href="{{ url }}">                                    
                                        <img src="{{ content.coverImage }}" alt="image jeux-1"
                                            style="height: 200px; width: 100%; display: block;">
                                    </a>

                                    <div class="card-body">
                                        <h2 class="text-truncate" style="text-align: center;">{{ content.title }}</h2>
                                        <hr>
                                        <h4 class="card-title">Avancement</h4>
                                        {% for key, value in participateContent.result %}
                                            <p>{{key}} : {{value}}</p>
                                        {% endfor %}
                                        <a href="{{ url }}" class="btn btn-info">Lancer le jeu</a>
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}
                    </div>   
                {% else %}
                    <div class="row justify-content-md-center align-items-center">
                        <div class="col-auto text-align">
                            <div class="alert alert-warning mt-3 mx-auto">
                                <h4 class="alert-heading">Vous n'avez particier a aucun serious game</h4>
                            </div>
                        </div>
                    </div>   
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

